DEEPSEEK_API_KEY=sk-xxx

FEISHU_APP_ID=cli_xxx
FEISHU_APP_SECRET=xxx

FEISHU_WEEKLY_APP_ID=cli_xxx
FEISHU_WEEKLY_APP_SECRET=xxx

FEISHU_PROVINCE_APP_ID=cli_xxx
FEISHU_PROVINCE_APP_SECRET=xxx

FEISHU_ELEC_APP_ID=cli_xxx
FEISHU_ELEC_APP_SECRET=xxx

FEISHU_ELEC_LOAD_APP_ID=cli_xxx
FEISHU_ELEC_LOAD_APP_SECRET=xxx

FEISHU_MARKETING_APP_ID=cli_xxx
FEISHU_MARKETING_APP_SECRET=xxx

FEISHU_WEEKLY_DAILY_APP_ID=cli_xxx
FEISHU_WEEKLY_DAILY_APP_SECRET=xxx
